<div class="body">
    <form [formGroup]="leilaoForm">
        <mat-form-field class="full-width">
            <mat-label>Nome do Leilão</mat-label>
            <input matInput formControlName="DS_NOME_LEILAO" name="DS_NOME_LEILAO">
        </mat-form-field>
        <mat-form-field class="full-width">
            <mat-label>Valor Inicial</mat-label>
            <input matInput type="text" formControlName="VL_INICIAL" name="VL_INICIAL" mask="separator.2" prefix="R$ " thousandSeparator="." >
        </mat-form-field>
        <mat-form-field class="full-width">
            <mat-label>Produto Usado ? </mat-label>
            <select matNativeControl formControlName="FL_PRODUTO_USADO" name="FL_PRODUTO_USADO">
              <option [value]="false">Não</option>
              <option [value]="true">Sim</option>
            </select>
        </mat-form-field>
        <mat-form-field class="full-width">
            <mat-label>Usuário Responsável</mat-label>
            <select matNativeControl formControlName="ID_USUARIO_RESPONSAVEL" name="ID_USUARIO_RESPONSAVEL">
              <option  *ngFor="let user of lstUsers.lstUser" [value]="user.ID_USUARIO">
                  {{user.DS_USUARIO}}
              </option>
            </select>
        </mat-form-field>
        <mat-form-field class="full-width">
            <mat-label>Data de Início</mat-label>
            <input matInput formControlName="DT_ABERTURA" name="DT_ABERTURA"  [dropSpecialCharacters]="false" mask="00/00/0000">
        </mat-form-field>
        <mat-form-field class="full-width">
            <mat-label>Data de Finalização</mat-label>
            <input matInput formControlName="DT_FINALIZACAO" name="DT_FINALIZACAO" [dropSpecialCharacters]="false" mask="00/00/0000">
        </mat-form-field>
        <div>
            <button mat-raised-button color="primary" (click)="Register()">{{labelButton}}</button>
            <button mat-raised-button (click)="closeDialog()" style="margin-left: 5px;">Fechar</button>
        </div>

    </form>
</div>