<div>
    <form [formGroup]="userForm">
        <mat-form-field class="full-width">
            <mat-label class="label-input">Usuário</mat-label>
            <input matInput formControlName="DS_USUARIO" name="DS_USUARIO">
        </mat-form-field>
        <mat-form-field class="full-width">
            <mat-label class="label-input">Senha</mat-label>
            <input matInput type="password" formControlName="DS_SENHA" name="DS_SENHA">
        </mat-form-field>

        <mat-grid-list cols="2">
            <mat-grid-tile> 
                <button mat-raised-button color="primary" (click)="Register()">Registrar</button>
            </mat-grid-tile>
            <mat-grid-tile>
                <button mat-raised-button (click)="closeDialog()">Fechar</button>
            </mat-grid-tile>
        </mat-grid-list>
    </form>
</div>